<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel='stylesheet' href='http://mottie.github.com/tablesorter/css/theme.blue.css'>
        <link rel='stylesheet' href='http://mottie.github.com/tablesorter/addons/pager/jquery.tablesorter.pager.css'>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'></script>
        <script src='http://mottie.github.com/tablesorter/js/jquery.tablesorter.min.js'></script>
        <script src='http://mottie.github.com/tablesorter/addons/pager/jquery.tablesorter.pager.js'></script>
        <script src='RestClient.js'></script>
    </head>
    <body>
        <div id='create'></div>

        <table id='datatable' class='tablesorter-blue'>
        </table>
        <div class='pager' id='pager'>
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/first.png' class='first' alt='First'/>
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/prev.png' class='prev' alt='Prev'/>
            <span class='pagedisplay'></span> <!-- this can be any element, including an input -->
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/next.png' class='next' alt='Next'/>
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/last.png' class='last' alt='Last'/>
            <select class='pagesize'>
                <option selected='selected' value='10'>10</option>
                <option value='20'>20</option>
                <option value='30'>30</option>
                <option value='40'>40</option>
            </select>
        </div>
        <br>

        <div id='details'></div>


        <!-- Templates -->
        <script type='text/template' id='tpl-create'>
            <!--
            Put your controls to create new entity here.

            Class 'new' is used to listen on events in JS code.
            -->
            <button class='new'>Create</button>
        </script>

        <script type='text/template' id='thead'>
            <thead>
            <tr>
            <th>id</th>
            <th>birthday</th>
            <th>address</th>
            <th>gender</th>
            <th>district3</th>
            <th>mobile</th>
            <th>name</th>
            <th>ctfId</th>
            <th>tel</th>
            <th>district4</th>
            <th>EMail</th>
            <th>family</th>
            <th>version</th>
            </tr>
            </thead>
        </script>
        <script type='text/template' id='tpl-people-list-item'>
            <td><a href='#<%= id %>'><%= id %></a></td>
            <td><%= birthday %></td>
            <td><%= address %></td>
            <td><%= gender %></td>
            <td><%= district3 %></td>
            <td><%= mobile %></td>
            <td><%= name %></td>
            <td><%= ctfId %></td>
            <td><%= tel %></td>
            <td><%= district4 %></td>
            <td><%= EMail %></td>
            <td><%= family %></td>
            <td><%= version %></td>
        </script>

        <script type='text/template' id='tpl-people-details'>
            <div>
            <table>
            <tbody>
            <tr><td>Id</td>
            <td>
            <input type='text' id='id' name='id' value='<%= typeof(id)!== "undefined" ? id : "" %>'  />
            </td>
            </tr>
            <tr>
            <td>birthday</td><td><input type='text' id='birthday' name='birthday' value='<%= birthday %>'/></td></tr>
            <tr>
            <td>address</td><td><input type='text' id='address' name='address' value='<%= address %>'/></td></tr>
            <tr>
            <td>gender</td><td><input type='text' id='gender' name='gender' value='<%= gender %>'/></td></tr>
            <tr>
            <td>district3</td><td><input type='text' id='district3' name='district3' value='<%= district3 %>'/></td></tr>
            <tr>
            <td>mobile</td><td><input type='text' id='mobile' name='mobile' value='<%= mobile %>'/></td></tr>
            <tr>
            <td>name</td><td><input type='text' id='name' name='name' value='<%= name %>'/></td></tr>
            <tr>
            <td>ctfId</td><td><input type='text' id='ctfId' name='ctfId' value='<%= ctfId %>'/></td></tr>
            <tr>
            <td>tel</td><td><input type='text' id='tel' name='tel' value='<%= tel %>'/></td></tr>
            <tr>
            <td>district4</td><td><input type='text' id='district4' name='district4' value='<%= district4 %>'/></td></tr>
            <tr>
            <td>EMail</td><td><input type='text' id='EMail' name='EMail' value='<%= EMail %>'/></td></tr>
            <tr>
            <td>family</td><td><input type='text' id='family' name='family' value='<%= family %>'/></td></tr>
            <tr>
            <td>version</td><td><input type='text' id='version' name='version' value='<%= version %>'/></td></tr>
            </tbody>
            </table>
            <!--
            Put your controls to create new entity here.
            Classes 'save' and 'delete' are used to listen on events in JS code.
            -->
            <button  class='save'>Save</button>
            <button  class='delete'>Delete</button>
            </div>
        </script>


    </body>
</html>
